    <h1>Autor de la página</h1>
    <br>
    <p>Nombre: Javier Vírse</p>
    <img src="images/fotoperfil.jpg" >
    <br><br>

    <p>Video de ejemplo:</p>
 <video controls width="350px" >
  	<source src="images/documental.ogg" type="video/ogg"/>
  	<source src="images/documental.mp4" type="video/mp4"/>
  	<source src="images/documental.webm" type="video/webm"/>
  </video>

  